/* CSS */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
  background: #01081f;
  height: 80px;
  width: 100%;
  align-items: center;
  gap: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo-png {
  margin-left: 1em;
  width: 140px;
  height: 80px;
  padding: 0.8em;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  border-radius: 3px;
}

a.active,
a:hover {
  color: black;
  background: #fff526;
  transition: 0.3s;
  cursor: pointer;
}

.sign-in-up {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10em;
  margin-right: 5em;
}
.sign-button {
  background-color: #fff526;
  color: black;
  font-size: 18px;
  padding: 7px 13px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  border-radius: 0.8em;
  cursor: pointer;
  height: 100%;
  width: 120px;
  transition: all 0.2s ease;
}

.sign-button:hover {
  transform: translateY(-2px);
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media only screen and (max-width: 1361px) {
  .sign-in-up {
    margin-left: 0;
  }

  .ellipse-svg {
    display: none;
  }
  .hero-jpg {
    padding: 0;
    width: 40%;
  }
}

@media only screen and (max-width: 1068px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    max-height: calc(100vh - 80px); /* Add this line */
    background-color: #01081f;
    transition: all 0.4s ease;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li:hover {
    border-radius: 0;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .sign-in-up {
    margin-left: 0;
    margin-right: 0;
  }
  .checkbtn {
    display: block;
    cursor: pointer;
    line-height: 80px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .sign-in-up {
    margin-top: 1em;
    display: flex;
    gap: 1.5em;
  }
  .sign-button {
    width: 160px;
  }
}
.background-container {
  position: relative;
  width: 100%;
  height: 140vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  width: 100%;
  height: 550px;
}

.background-png {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .background-png {
    width: 400vw;
    height: 180vh;
  }
  .text-container {
    flex-direction: column;
    align-items: center;
    top: 38%;
    left: 45%;
    padding: 0.5em;
  }
  .contact-us {
    width: 100%;
  }
}

.selleverything-text {
  margin-top: 2em;
  margin-left: 4em;
  width: 100%;
}
.sell-text {
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 59px;

  color: #fdfafa;

  transform: rotate(0.5deg);
}
.buttonanddivider {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 1em;
}
.row-button {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
}
.contact-us {
  background-color: #fff526;
  color: black;
  font-size: 20px;
  padding: 7px 13px;
  font-family: "Inter";
  font-weight: 900;
  border-radius: 1.1em;
  cursor: pointer;
  height: 60%;
  width: 40%;
  transition: all 0.2s ease;
}

.contact-us:hover {
  transform: translateY(-3px);
}
.column-divider {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
}
.line-svg {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.trusted-text {
  width: auto;
  height: auto;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.image-column {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-jpg {
  width: 80%;
  height: 100%;
  padding: 3em;
  margin-bottom: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #01081f;
}

::-webkit-scrollbar-thumb {
  background: #fff526;
}

::-webkit-scrollbar-thumb:hover {
  background: #9a9867;
}
footer {
  background-color: #01081f;
  height: 400px;
  padding: 30px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .footer-col {
    flex-basis: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-col {
    flex-basis: 100%;
  }

  .footer-col:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* footer {
  height: 492px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #01081f;
} */
.footer-child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  position: relative;
}
.quleep-svg {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 250px;
  height: 110px;
  cursor: pointer;
}
.footer-child1text {
  margin-top: 4em;
  color: white;
  width: 57%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}
.footer-child2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  height: 80%;
  padding-top: 3em;
}
.a-tag {
  color: white;

  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 20px;
}
.footer-child3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 80%;
  padding-top: 3em;
}
.footer-child4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  height: 100%;
  padding: 4em;
}
.android-svg {
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.ios-svg {
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.subscribe-input {
  background: #d9d9d9;
  height: 100px;
  width: 80%;
  border: 1px solid #fffdfd;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  padding: 15px;
}

.subscribe-button {
  background-color: #01081f;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.8em;
  cursor: pointer;
  right: 0%;
  height: 80px;
  width: 50%;
  transition: all 0.2s ease;
}
.subscribe-button:hover {
  transform: translateY(-2px);
}
